#portfolio {
  img {
    width: 40%;
  }

  .container {
    width: 40%;
  }

  .project {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .project-links {
    padding-right: 5px;
    padding-left: 5px;
  }

}

p {
  padding-bottom: 10px;
}